extends baseEmail 

block content 
    p Hi #{firstName},
    p Your OTP for verification is #{url}
    p If you need any help with anything, please don't hesitate to contact me! 
    p - Sanskar Soni